body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;


}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
h1{
  margin: 50px auto 0;
  font-size: 80px;
  padding: 10px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF


}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;

}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
p{
  line-height: 2;
}

.intro{

  font-size: 2.5rem;
  font-family: 'Dancing Script', cursive;
  font-weight: normal;
  color: #66BFBF;
}

.info{
  width: 30%;
  margin: auto;
}
.contact-me{
  width: 50%;
  margin: 40px auto 60px;
}

.under{
  text-decoration: underline;
}
.top{
  background-color: #d7fffd;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 0;
  background-color: #f4eeff;
  padding-bottom: 50px;


}
.bottom-container{
  margin: 0;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.code-img{
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.poetry-img{
  border-radius: 100%;
  width: 25%;
  float: right;
  margin-left: 30px;
}


.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.sun{
  position: absolute;
  height: 70px;
  width: 70px;
  left: 295px;
  bottom: 310px;

}
.copyright{
  color: #EAF6F6;
  font-size: 0.758rem;
  padding: 20px 0;
}
.btn {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11cdd4), color-stop(1, #11999e) );
	background:-moz-linear-gradient( center top, #11cdd4 5%, #11999e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11cdd4', endColorstr='#11999e');
	background-color:#11cdd4;
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
text-indent:0;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #01199e;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11999e), color-stop(1, #11cdd4) );
	background:-moz-linear-gradient( center top, #11999e 5%, #11cdd4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11999e', endColorstr='#11cdd4');
	background-color:#11999e;
}.btn:active {
	position:relative;
	top:1px;
